<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRM_Migracion.Properties.Settings.SAAPAConnectionString"
            connectionString="Data Source=172.23.10.167;Initial Catalog=SAAPA;User ID=migracione;Password=M1gr4c10n"
            providerName="System.Data.SqlClient" />
        <add name="CRM_Migracion.Properties.Settings.SISECConnectionString"
            connectionString="Data Source=172.23.10.167;Initial Catalog=SISEC;User ID=migracione;Password=M1gr4c10n"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>